{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
<script type="text/javascript" src="{% static 'js/header.js' %}"> </script>
<header>
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="pull-left" style="margin-right: 50px">
                <img src="{% static 'imagenes/urjc_logo.png' %}" width="130px" style="margin-top: 10px;">
            </div>
            <h1 class="main-tittle">El BigData y la Contratación Pública</h1>
        </div>
    </div>


</header>