{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
<div class="content" ng-controller = "visualization">
    <div class="row">
        <div>
            <div id="dashboard" class="col-lg-12" style="padding: 0px !important">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">
                                <img src="{% static 'imagenes/spain_icon.png' %}" class="spain_icon">
                                	Visión global
                                </a>
                            </li>
                            <li><a href="#"><i class="fas fa-university"></i>Administraciones del estado</a></li>
                            <li><a href="#"><i class="fa fa-industry"></i>Proveedores</a></li>
                            <li><a href="#"><i class="fas fa-file-contract"></i></i>Categorias y tipos de contrato</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>Visión global
            </div>
            <div class="panel-body">
                <div id="chart_container">
                    <div id="chart_div"></div>
                    <div id="canarias_chart_container">
                        <div id="canarias_chart_div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i>
				{% verbatim %}
				    {{state}}
				{% endverbatim %}                
            </div>
            <div class="panel-body">
                <div id="tooltips">
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock %}